$main-color: $aetm-gold;
$border-distance: 20px;

@include breakpoint(medium) {
    .mfb-component--br {
        right: 15px !important;
        bottom: 15px !important;
    }
}

$number-of-child-buttons: 4;
$button-space: 56px; // vertical space between childs buttons

@import 'mfb.scss';

.aetm--fab-icon {
    display: flex;
    align-content: center;
    align-items: center;

    min-width: 40px;
    width: 100%;
    max-width: 56px;
    min-height: 40px;
    height: 100%;
    max-height: 56px;

    svg {
        fill: $white;
        width: 24px;
        height: 24px;
        margin: auto;
    }
}

/**
 * mfb custom
 */
.mfb-component--br {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // overlay on small screen
    @include breakpoint(small only) {
        &[data-mfb-state="open"] .mfb-component__list:before {
            left: 0;
            top: 0;
            border-radius: 0;
        }

        .mfb-component__list:before {
            content: '';
            position: fixed;
            left: 100vw;
            top: 100vh;
            right: 0;
            bottom: 0;
            border-top-left-radius: 1000px;
            background: rgba(255, 255, 255, 0.8);
            transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }
}

[data-mfb-label]:after {
    opacity: 1;
    color: $white;
    background: rgba(0, 0, 0, .6);
    margin: 0;
    transform: translateY(-50%);
}

.mfb-component__button--child {
    height: 40px;
    width: 40px;
}

.mfb-component__list > li {
    padding: 0 8px;
}