@import "fonts";
@import "generals";
@import "carousel";

.aetm--header {
    max-width: $aetm-max-size-main-content;
    margin: 0 auto;
}

.aetm--header--logo {
    width: 70%;
    margin-top: 100px;
}

.aetm--logo--et {
    margin: 230px auto 0;
    height: 27px;
    width: 27px;
}

.aetm--header--text {
    margin: 2rem 0;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 1px;
    text-align: center;
    color: #9b9b9b;
}

.aetm--text-second {
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #9b9b9b;
}

.aetm--company--logo--container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    border-bottom: 2px solid #ffdd5e;
    padding-bottom: 40px;
    margin-bottom: 50px;

    .aetm--company--logo {
        display: block;
        max-height: 100%;
        width: auto;
    }
}

.aetm--lab--project--button {
    display: inline-block;
    position: relative;
    border: solid 1px $aetm-pink;
    text-align: center;
    padding: 15px 30px;
    margin: 2rem auto 6rem;

    p {
        display: inline-block;
        font-family: Futura-Book;
        font-size: 30px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.06;
        text-align: center;
        color: $aetm-pink;
        margin: 0;
    }
}

.aetm--lab--project--arrow {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 50px;
    background-color: $aetm-pink;
    border-radius: 500px;
    padding: 15px;
    margin-left: 15px;
}

.aetm--footer {
    background: $aetm-blue;
}

.aetm--footer--logo {
    width: 14rem;
    margin: 0 auto;
}

.aetm--footer--subtitle {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: 0.1px;
    text-align: center;
    color: $white;
}

.aetm--footer--separator {
    width: 25%;
    border-bottom-color: $white;
}

.aetm--footer--links {
    max-width: $aetm-max-size-main-content;
    margin: 0 auto;

    a {
        font-size: $aetm-second-text-size;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.8px;
        text-align: center;
        color: $white;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

.aetm--footer--legals {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 0.6px;
    text-align: center;
    color: $white;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}