@charset "UTF-8";

/* Slider */

.slick-slide {
    position: relative;
    outline: none;
}

.slick-list {
    .slick-loading & {
        background: #fff url("../img/ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */

.slick-arrow {
    padding: 0.5rem;
}

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border: none;
    outline: none;
    z-index: 10;

    &:hover, &:focus {
        outline: none;

    }
}

.slick-prev {
    left: 0;
    [dir="rtl"] & {
        left: auto;
        right: 0;
    }
}

.slick-next {
    right: 0;
    [dir="rtl"] & {
        left: 0;
        right: auto;
    }
}