{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8">

    <meta name="description" content="alex et manon : les artisans de l'application mobile à Lille">
    <meta name="keywords" content="alex et manon, mobile, lille, freelance">
    <meta name="author" content="alex et manon">

    <meta property="og:title" content="alex et manon" />
    <meta property="og:description" content="alex et manon : les artisans de l'application mobile à Lille" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://alexetmanon.com" />
    <meta property="og:image" content="{{root}}assets/img/aetm-logo-header.svg"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="alex et manon : les artisans de l'application mobile à Lille">
    <meta name="twitter:image" content="{{root}}assets/img/aetm-logo-header.svg">
    <meta name="twitter:site" content="@a_et_m">
    <meta name="twitter:creator" content="@a_et_m">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alex et manon</title>
    <link rel="shortcut icon" type="image/png" href="assets/img/aetm-favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    <script src="{{root}}assets/js/app.js"></script>

    <!-- Google Analytics Tracking -->
    <script>!function(e,t,a,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=t.createElement(a),s=t.getElementsByTagName(a)[0],o.async=1,o.src="https://www.google-analytics.com/analytics.js",s.parentNode.insertBefore(o,s)}(window,document,"script",0,"ga"),ga("create","UA-85251159-3","auto"),ga("send","pageview");</script>

    <!-- Hotjar Tracking -->
    <script>!function(t,h,e,j,s,n){t.hj=t.hj||function(){(t.hj.q=t.hj.q||[]).push(arguments)},t._hjSettings={hjid:741037,hjsv:6},s=h.getElementsByTagName("head")[0],(n=h.createElement("script")).async=1,n.src="https://static.hotjar.com/c/hotjar-"+t._hjSettings.hjid+".js?sv="+t._hjSettings.hjsv,s.appendChild(n)}(window,document);</script>
  </body>
</html>